.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 30px;
    margin-left: 50px;
}

.cart{
    background-color: #ffe4c2;
}

.pagination{
    margin-left: 500px;
    margin-top: 50px;
}

.pagination button{
    border: none;
    border-radius: 10px;
    background-color: #ffe4c2;
    font-size: 20px;
    margin: 15px;
    padding: 10px 20px;
}

.pagination .selected{
    background-color: #ffcc8d;
}

.options{
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #ffe4c2;
    font-size: 15px;
    margin: 15px;
    padding: 10px 20px;
}

@media screen and (max-width: 600px) {

    .shop-container{
        display: flex;
        flex-direction: column-reverse;
    }

    .products{
        grid-template-columns: repeat(1, 1fr);
    }
}