.cart{
    position: sticky;
    top: 130px;
    padding: 50px 20px;
}

.clear, .review{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    background-color: #FF3030;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.clear p, .review p{
    margin-right: 10px;
}

.review{
    background-color: #FF9900;
    color: #fff;
}